.brand-box {
  min-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  color: white;
  font-weight: 900;
  font-size: 30pt;
  background: palevioletred;
}

.content-box {
  background: white;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
  border-radius: 10px;
}

.vizslide-box {
  background: white;
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 20px;
  border-radius: 10px;
}

.weather-img {
  margin-right: 15px;
}

.mynav {
  background: white;
}
p {
  font-size: 12pt;
  color: dimgray;
}

.centered-imgs {
    margin-top: 20pt;
    text-align: center;
}

.plot-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.viz-title {
    color: palevioletred;
    background: mistyrose;
    margin-top: -60px;
}

.comp-imgs {
    display: inline-block;
    width: 400px;
}

figure {
    display: inline-block;
}

figcaption {
    color: cadetblue;
    font-weight: 800;
}

@media (max-width: 576px) {
  .mynav {
      background: palevioletred;
      border-bottom: 4px solid pink;
  }
  .comp-imgs {
      display: inline-block;
      width: 320px;
  }
}

.clearfix {
    overflow: auto;
}
